/*=============================================
 *   ___     ___ ___ _            _ 
 *  / __|___| _ \ __| |_  __ _ __| |__ ___
 * | (__/ _ \   / _|| ' \/ _` / _| / /(_-<
 *  \___\___/_|_\___|_||_\__,_\__|_\_\/__/
 *
===============================================*/

/*===================
 * General Styles
=====================*/

html, 
body {
    height: 100%;
}

body {
    min-height: 100%;
}

body.blue-bg {
    background-color: #1a237e;
}

body.dark-bg {
    background-color: #212121;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url('../img/bg.jpg');
    opacity: 0.3;
}

/* Scrollbar */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 4px solid rgba(255,255,255,0);
    background-clip: content-box;
    background-color: #A0A0A0;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 12px;
    border: 4px solid rgba(255,255,255,0);
    background-clip: content-box;
    background-color: #A0A0A0;
}

::-webkit-scrollbar-corner {
    background-color: #e6e6e6;
}

/*===============
 * Front Page
=================*/

div#introText {
    width: 100%;
}

div#introText h1,
div#introText h2,
.card h1,
.card h2 {
    color: #fff;
    font-weight: 300;
}

div#introText h1,
.card h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 9em;
    margin-bottom: 10px;
}

div#introText h2,
.card h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    margin-bottom: 60px;
}

div#introText button,
div#signup button {
    padding-left: 70px;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: none;
    font-size: 28px;
    margin-bottom: 20px;
}

/*===================
 * Button Styles
=====================*/

button.join {
    background: url('../img/okay.png') no-repeat left;
    background-size: 52px 52px;
    background-position: 10px 3px;
}

button.turningBack {
    background: url('../img/turning_back.png') no-repeat left;
    background-size: 52px 52px;
    background-position: 10px 3px;
}

/*===============
 * Navigation
=================*/

div.navbar-fixed {
    margin-bottom: 60px;
}

nav {
    padding-left: 20px;
    padding-right: 20px;
}

nav li {
    list-style-type: none;
}

nav a.brand-logo {
    font-family: 'Roboto', sans-serif;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/*==============
 * Main Page
================*/

.container .card.largeMargin {
    margin-bottom: 100px;
}

.container .card.smallMargin {
    margin-bottom: 50px;
}

.container .card h1.card-text {
    color: #000;
    font-size: 28px;
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 20px;
    margin-bottom: 20px;
}

.container .card {
    height: 100%;
    padding: 20px;
}

.container .card p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 20px;
}

.container .card .card-title {
    font-size: 3em!important;
}

.container .card.transparent {
    background: transparent;
    box-shadow: none;
}

div.full-width {
    width: 100%;
}

/*================
 * FAQ Section
==================*/

span.question,
span.section-title {
    font-weight: bold;
    border-bottom: 1px solid #000;
    display: block;
    font-size: 24px;
}

span.section-title {
    margin-bottom: 20px;
}

/*===================================
 * Sponsor and Organizer Listings
=====================================*/

#sponsors img,
#organizers img {
    width: 100%;
}

#sponsors img.round,
#organizers img.round {
    border-radius: 50%;
    width: 150px;
}

#sponsors div.name p,
#organizers div.name p {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

#organizers div.name p {
    font-size: 24px;    
}

#sponsors div.addPadding,
#organizers div.addPadding {
    margin-bottom: 50px;
}

#organizers div.addPadding div.col {
    margin: 20px 0;
}

#organizers #bannerSection {
    margin: 20px;
}

/*===================
 * Staff Sections
=====================*/

#judges ul,
#organizers ul {
    margin-left: 20px;
}

#judges ul li,
#organizers ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;   
}

#judges ul li:before,
#organizers ul li:before {
    content: "\f005";
    font-family: 'FontAwesome';
    margin-right: 10px;
}

#judges .content-padding,
#organizers .content-padding     {
    padding: 20px;
}

/*==================
 * Footer Styles
====================*/

#footer .shane {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    width: 18%;
    bottom: -28%; 
    height: auto;
}

#footer .bryan {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    position: fixed;
    background: rgba(0, 0, 0, 0);
    width: 20%;
    bottom: -1%; 
    height: auto;
    right: 0%;
}

/*===================
 * Signup Section
=====================*/

#signup {
    padding: 100px;
}

#signup h1 {
    margin-bottom: 50px;
}

/*=====================
 * Schedule Section
=======================*/

#schedule ul.collection {
    margin-top: 30px;
    font-size: 18px;
}

#schedule ul.collection li.collection-item {
    font-weight: bold;
}

#schedule ul.collection li.collection-item .event {
    font-weight: 300;
}


#schedule .event {
    float: right;
    display: inline-block;
}

/*==============
 * Ad Styles
================*/

div#adSection p,
#organizers p#bannerText {
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #eee;
    padding: 2px 5px;
    text-align: center;
}

#organizers p#bannerText {
    width: 300px;
}

div#adSection img,
img#organizer-banner {
    width: 100%;
    border: 2px solid #000;
}
